# Copy to .env and fill as needed
HF_TOKEN=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# Gemini / Google AI Studio
GOOGLE_API_KEY=
GEMINI_API_KEY=
GEMINI_API_KEY_NAME=
GOOGLE_PROJECT_NAME=
GOOGLE_PROJECT_NUMBER=

QDRANT_URL=http://localhost:6333
